body{
    align-items: center;
    text-align: center;
    background-color: #86E1D7;
    
}

h1{
    color: black;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.46);
    text-align: center;
    font-weight: 90px;
 text-size-adjust: 90px;
 width: 100%;
}
h2{
    color: #981D0C;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.46);
    text-align: center;
    font-weight: 90px;
 text-size-adjust: 90px;
 width: 100%;
}
b{
    color: #981D0C;
    text-align: left;
    margin:px;
    padding: 20px;
}
caption {
    font-family: 'Rock Salt', cursive;
    padding: 4px;
    font-style: italic;
    caption-side: bottom;
   color: rgb(255, 0, 149);
    text-align: right;
    letter-spacing: 1px;
    }

table{
    table-layout: fixed;
    border-collapse: collapse;
    border-style: solid;
    text-align: left;
    margin: 1px;
    padding: 80px;
    margin-left: 25%;
    margin-right: 25%;
}
tr{
    border-style: solid;
    text-align: left;
  
}
tbody{
    border-style: solid;
    text-align: left;

}
td{
    border-style: solid;
    text-align: left;
    
}

.button{
    padding: 14px 17px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: rgb(246, 238, 253);
    background-color: #981D0C;
    border: none;
    border-radius: 15px;
    box-shadow: 0 6px #999;
}